:root {
  --max-site-width: 1400px;
  --bg-clr-light: #fafafa;
  --bg-clr-dark: #1a1a1a;
  --txt-clr-dark: #1a1a1a;
  --txt-clr-light: #fafafa;
  --brand-clr: #ed920d;
  --brand-clr-transparent: linear-gradient(90deg, #ed920d 0%,rgba(237,146,13,0.7), #ed920d 100%);
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 400;
}
h2{
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}
nav a{
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}
body {
  background-color: var(--bg-clr-light);
  color: var(--txt-clr-dark);
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: var(--max-site-width);
  margin: auto;
  font-family: "Georgia", "Times New Roman", serif;
}
main {
  width: 100%;
  min-height: 100vh;
  padding: 0rem 1rem;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: var(--max-site-width);
  margin: 0 auto;
}

header nav {
  padding: 1rem 2rem;
  background-color: var(--brand-clr);
  background: var(--brand-clr-transparent);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--bg-clr-dark);
  font-weight: 800;
  letter-spacing: 2px;
}
.hero {
  min-height: 60vh;
  width: 100%;
  background-color: var(--bg-clr-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.hero img{
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  overflow: hidden;
}
.hero .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.product {
  width: 100%;
  background-color: var(--bg-clr-light);
}
.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
h2 {
  margin-top: 10rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: #ccc solid 2px;
}
@media (max-width: 800px) {
  .card_container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 380px) {
  .card_container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.card_container .card {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: aquamarine;
}
.card_container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contact {
  width: 100%;
  background-color: var(--bg-clr-light);
  padding-bottom: 5rem;
}
.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 100%;
  min-height: 100%;
}
@media (max-width: 800px) {
  .contact_container {
    grid-template-columns: 1fr;
    gap: 15px;
    height: auto;
  }
}
.contact_container .contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  color: var(--bg-clr-dark);
  
}
.contact_container .contact_card img {
  max-width: 100%;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  background-color: var(--bg-clr-light);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  border-top: var(--brand-clr) solid 10px;
}
footer .footer_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 100%;
  min-height: 100%;
  align-items: center;
}

footer img{
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  justify-self: end;
}
@media (max-width: 800px) {
  footer .footer_container {
    grid-template-columns: 1fr;
    gap: 3rem;
    height: auto;
  }
  footer img{
    justify-self: center;
  }
}

footer li{
  list-style: none;
}
footer a{  
  line-height: 2rem;
  color: var(--brand-clr);
}
footer .copyright{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  color: var(--txt-clr-dark);
}
